---
import ProductPaginate from "@/presentation/web/components/products/ProductPaginate.astro";
import ProductPaginateButtons from "@/presentation/web/components/products/ProductPaginateButtons.astro";
import ProductPaginateCards from "@/presentation/web/components/products/ProductPaginateCards.astro";
import Layout from "@/presentation/web/layouts/shared/Layout.astro";
import NavBar from "@/presentation/web/layouts/shared/NavBar.astro";

import { actions } from 'astro:actions'


//const { data, error } = await Astro.callAction(actions.getProduct, {});
/*
if(!data){
    throw new Error('Sin datos disponibles')
}

console.log(data);

const formObject = new FormData(

)

const products = actions.getProductPerPage({})
*/

let page = 1



await Astro.session?.set('page', page);



---

<Layout title="Islas Servers">
    <NavBar />

    <section class="m-10">
        
        <!--ProductPaginate></ProductPaginate-->
        <div id="paginate-astro" class="m-20 p-20">

            <ProductPaginateCards page={page} perPage="5" server:defer>
    
            </ProductPaginateCards>
        </div>

    </section>

    <nav class="my-10">
        <button
            id="btn-bef"
            class="btn"
            type="submit"
            name="page"
            
        >
            Anterior
        </button>
        <span>Página 1 de 25</span>
        <button
            id="btn-next"
            class="btn"
            type="submit"
            name="page"
        >
            Siguiente
        </button>
    </nav>

    <!--ProductPaginateButtons page={1} perPage={5}></ProductPaginateButtons-->

    



</Layout>
<style>
	@reference "@/presentation/assets/styles/global.css";

	.btn{
		@apply bg-blue-500 p-2 text-white rounded-md;
	}



	.disabled{
		@apply bg-gray-600 text-gray-400;
	}
	
</style>

<script>

    //import ProductPaginate from "@/presentation/web/components/products/ProductPaginate.astro";
    //import ProductPaginateCards from "@/presentation/web/components/products/ProductPaginateCards.astro";

    import { navigate } from 'astro:transitions/client'

    function setCookie(name: string, value: string, days: number) {
        const date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000)); // Tiempo en milisegundos
        const expires = "expires=" + date.toUTCString();
        document.cookie = name + "=" + value + ";" + expires + ";path=/";
    }

    function getCookie(name: string) {
        const nameEQ = name + "=";
        const cookies = document.cookie.split(';');

        for (let i = 0; i < cookies.length; i++) {
            let c = cookies[i].trim();
            if (c.indexOf(nameEQ) === 0) {
                return c.substring(nameEQ.length);
            }
        }

        return null; // No se encontró la cookie
    }


    //import { P } from '@/presentation/web/components/products/ProductPaginate.astro'




    document.addEventListener('astro:page-load', ()=>{
        localStorage.setItem('page', '1')

        const btnNext = document.getElementById('btn-next') as HTMLButtonElement;
        const btnBefore = document.getElementById('btn-bef') as HTMLButtonElement;
        const componentList = document.getElementById('paginate-astro') as HTMLDivElement;

        /*console.log(btnNext)
        console.log(btnBefore)
        console.log(componentList)

        const html = ProductPaginateCards

        console.log(html)*/

        //const {} = ProductPaginateCards.render({})

        btnNext.addEventListener('click', ()=>{
            //componentList.innerHTML = ''
            //const componentPaginate = document.createElement('ProductPaginateCards');

            //componentPaginate.setAttribute('page', '2');
            //componentPaginate.setAttribute('perPage', '5');

            //componentList.appendChild(componentPaginate);

            //let numberPage = Astro.cookies.get('page') ?? '1';
            //let newPage = +numberPage + 1;

            let cookiePage = getCookie('page');
            let numberPage = 1
            if(!cookiePage){
                numberPage = 1
            }else{
                numberPage = +cookiePage + 1
            }

            setCookie('page', numberPage.toString(), 1)

            navigate(window.location.pathname)

            //Astro.cookies.set('page', newPage.toString())

        })

        btnBefore.addEventListener('click', ()=>{
            //componentList.innerHTML = ''
            //const componentPaginate = document.createElement('ProductPaginateCards');

            //componentPaginate.setAttribute('page', '2');
            //componentPaginate.setAttribute('perPage', '5');

            //componentList.appendChild(componentPaginate);

            //let numberPage = Astro.cookies.get('page') ?? '1';
            //let newPage = +numberPage + 1;

            let cookiePage = getCookie('page');
            let numberPage = 1
            if(!cookiePage){
                numberPage = 1
            }else{
                numberPage = +cookiePage - 1
            }

            setCookie('page', numberPage.toString(), 1)

            navigate(window.location.pathname)

            //Astro.cookies.set('page', newPage.toString())

        })


    });

</script>